
/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }

  /* Style the "active" element to highlight the current page */
nav a.active {
    background-color: #2196F3;
    color: white;
    border-radius: 10px;

    
  }

  /* Style the search box inside the navigation bar */
nav input[type=text] {
    float: right;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid rgb(34, 189, 143);
    


    
  }

  nav .search-container {
    float: left;
  }

  nav .search-container button {
    float: right;
    padding: 8px 10px;
    
    margin-bottom: 5px;
    
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(34, 189, 143);
    border-radius: 10px 0 0 10px;
    
  }

  nav .search-container button:hover {
    background: #ccc;
  }


  /* navigation style complete */



  /* carousel start-----------------------------------
   */

.backcolor{
    background-color: #FEEAE9;
}
  